<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishProvider>FileSystem</PublishProvider>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>$(LocalFolder)\Publish\</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
	<ProjectSolution>$(LocalFolder)\SEBrowser.sln</ProjectSolution>
	<ProgramFiles64>$(ProgramW6432)</ProgramFiles64>
	<ProgramFiles64 Condition="'$(ProgramFiles64)' == ''">$(ProgramFiles)</ProgramFiles64>
	<NuGet Condition="'$(NuGet)' == ''">$(ProgramFiles64)\NuGet\nuget.exe</NuGet>
  </PropertyGroup>
  
  <Target Name="NugetRestore" BeforeTargets="BeforeBuild">
    <Message Text="Restoring Nuget Packages from $(LocalFolder)"/>
	<Exec Command="%22$(NuGet)%22 restore %22$(ProjectSolution)%22"/>
	<Message Text="Nuget Packages Restored"/>
  </Target>
  
</Project>